@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Faturalar</h2>
<br />
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Fatura ID
            </th>
            <th>
                Fatura Seri No
            </th>
            <th>
                Fatura Sıra No
            </th>
            <th>
                Tarih
            </th>
            <th>
                Saat
            </th>
            <th>
                Vergi Dairesi
            </th>
            <th>
                Cari
            </th>
            <th>
                Personel
            </th>
            <th>
                Toplam Tutar
            </th>
            <th>
                Fatura Detay
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FaturaId
                </td>
                <td>
                    @item.FaturaSeriNo
                </td>
                <td>
                    @item.FaturaSiraNo
                </td>
                <td>
                    @item.FaturaTarih.ToString("d")
                </td>
                <td>
                    @item.FaturaSaat
                </td>
                <td>
                    @item.VergiDairesi
                </td>
                <td>
                    @item.Cari.CariAd @item.Cari.CariSoyad
                </td>
                <td>
                    @item.Personel.PersonelAd @item.Personel.PersonelSoyad
                </td>
                <td>
                    @item.FaturaToplamTutar
                </td>
                <td>
                    <a href="/Fatura/FaturaDetay/@item.FaturaId" class="btn btn-primary">Detay</a>
                    <a href="/Fatura/FaturaGetir/@item.FaturaId" class="btn btn-warning">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a href="/Fatura/YeniFaturaEkle" class="btn btn-primary">Yeni Fatura Ekle</a>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>
