@model IEnumerable<MvcOnlineTicariOtomasyon.Models.Siniflar.Urun>

@{
    ViewBag.Title = "Ürün Listesi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Ürün Listesi</h2>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Ürün Ad
            </th>
            <th>
                Ürün Marka
            </th>
            <th>
                Ürün Stok
            </th>
            <th>
                Ürün Alış Fiyat
            </th>
            <th>
                Ürün Satış Fiyat
            </th>
            <th>
                Ürün Durum
            </th>
            <th>
                Kategori
            </th>
            <th>
                Ürün Görsel
            </th>
            <th>
                İşlemler
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UrunAd
                </td>
                <td>
                    @item.UrunMarka
                </td>
                <td>
                    @item.UrunStok
                </td>
                <td>
                    @item.UrunAlisFiyat
                </td>
                <td>
                    @item.UrunSatisFiyat
                </td>
                <td style="color: @(item.UrunStok > 0 ? "green" : "red")">
                    @(item.UrunStok > 0 ? "Stok Var" : "Stok Yok")
                </td>
                <td>
                    @item.Kategori.KategoriAd
                </td>
                <td>
                    <img src="~@item.UrunGorsel" width="50" height="50" />
                </td>
                <td>
                    <a href="/Urun/UrunGetir/@item.UrunId" class="btn btn-warning">Güncelle</a>
                    <a href="/Urun/UrunSil/@item.UrunId" class="btn btn-danger" onclick="return confirm('Bu ürünü silmek istediğinize emin misiniz?');">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Urun/YeniUrun" class="btn btn-primary">Yeni Ürün Ekle</a>
